@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    padding: 0rem;
    margin: 0rem;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    max-width: 62.5rem;
    margin: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.title {
    display: block;
    font-size: 2rem
    line-height: 2.5rem;
}

.accordion {
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    padding: 1.25rem;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-header .accordion-header_title {
    color: blue;
    font-size: 1.375rem;
    transition: all 0.3s ease;
}

.accordion-item {
    border-top-style: solid;
    border-color: #fff;
    border-width: 0.05rem;
}

.accordion-item .accordion-header_icon {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s ease;
}

.accordion-content {
    padding: 0rem;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
}

.accordion-content-img {
    max-width: 38rem;
    margin: auto;
    animation-name: imgZum;
    animation-duration: 1s;
    transition: all 0.3s ease;
}

.accordion-content p {
    text-align: center;
    color: #000;
}

.accordion:hover .accordion-header_icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.accordion-item:hover .accordion-header_icon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s ease;
}


.accordion-item:hover .accordion-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.accordion-item:hover .accordion-header .accordion-header_title {
    color: #000;
}

.accordion-item:target .accordion-header {
    background-color: #ddd;
}

.accordion-item:target .accordion-header .accordion-header_title {
    color: #000;
}

.accordion-item:target .accordion-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.accordion-item:target .accordion-header_icon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 648px) {
    .accordion {
        padding:  1rem;
    }
    .accordion-content {
        padding:  0rem;
    }
    .accordion-content-img {
        max-width: 17.5rem;
        margin: auto;
        animation-name: imgZumMob;
        animation-duration: 1s;
        transition: all 0.3s ease;
    }
}